@media(max-width:1440px) {
  .fa-bars-staggered {
    display: none;
  }
}
@media(max-width:1300px) {}

@media (max-width: 1024px) {
  .cloths {
    justify-content: center !important;
  }


  #v-pills-tab {
    overflow-x: auto;
  }

  .nav.nav-pills.flex-row .nav-link {
    min-width: max-content;
  }
}

/* Optional: space between tab items */
.nav-item {
  margin-right: 10px;
}

/* Hero image divs */
.hero-image-div {
  flex: 1 0 30%;
}

.hero-image-div img {
  border-radius: 10px;
  object-fit: cover;


  [class^="custom-slider"] .slick-dots {
    position: absolute !important;
    bottom: -16% !important;
    gap: 20px !important;
  }

   

}

@media(max-width:1000px){
   .cloth {
    margin-bottom: 20px !important;
  }
}

@media(max-width:900px) {
   .cloth {
    margin-bottom: 20px !important;
  }
}


@media(max-width:768px) {

  .toggle-menu {
    display: inline-block !important;
  }

  .navigation-arrow{
    display: flex;
    justify-content: start !important;
  }

  .lists {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 20px !important;
  }
  .small {
    display: flex;
    justify-content: center;
  }

  .count-time {
    display: none !important;
  }

  .cloths {
    justify-content: space-evenly !important;
  }

  .list ul {
    display: block !important;
  }

  .banner span {
    font-size: 32px;
    line-height: 42px;
  }

  .countdown {
    width: 50px;
    height: 50px;
    padding: 8px;
  }

  .countdown h6 {
    font-size: 14px;
  }

  .countdown p {
    font-size: 10px;
  }

  .my-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .my-list .nav-link {
    width: auto !important;
    text-align: start !important;
  }
  .right {
    border: none !important;
  }

  [class^="custom-slider"] .slick-dots {
    position: absolute !important;
    bottom: -15% !important;
    gap: 20px !important;
  }
  

  .cloth {
    margin-bottom: 20px !important;
  }

}

@media (max-width: 600px) {
  .cloths {
    justify-content: space-evenly !important;
    align-items: center !important;
  }

  [class^="custom-slider"] .slick-dots {
    position: absolute !important;
    bottom: -14% !important;
    gap: 20px !important;
  }
}

@media (max-width: 576px) {
  .footer input {
    width: 50%;
  }

  .footer .footer-menu ul {
    padding-left: 0;
    list-style: none;
  }
  [class^="custom-slider"] .slick-dots {
    position: absolute !important;
    bottom: -10% !important;

  }
}

@media (max-width: 576px) {
  .footer input {
    width: 50%;
  }

  .footer .footer-menu ul {
    padding-left: 0;
    list-style: none;
  }
  [class^="custom-slider"] .slick-dots {
    position: absolute !important;
    bottom: -24% !important;
    gap: 20px !important;

  }
  

 .cloth-image{
    width: 300px !important; 
    height: 300px !important;
 }

 
 .banner span {
  font-size: 36px;
  font-weight: 600;
  line-height: 45px;
}

}

@media (max-width: 480px) {


  
}