@media(max-width:1440px){
    .fa-bars-staggered{
        display: none;
    }
}


@media(max-width:1300px){
  
}


@media (max-width: 1024px) {
    .cloths {
        justify-content: center !important; 
    }



}
 

@media(max-width:768px){

  .small
  {
    display: flex;
    justify-content: center;
  }

    .count-time{
        display: none !important;
    }

    .cloths {
        justify-content: center;
    }
    .list{
        display: none;
    }


    
    .banner span {
      font-size: 32px;
      line-height: 42px;
    }
  
    .countdown {
      width: 50px;
      height: 50px;
      padding: 8px;
    }
  
    .countdown h6 {
      font-size: 14px;
    }
  
    .countdown p {
      font-size: 10px;
    }

    .my-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; /* center horizontally */
      gap: 10px; /* spacing between buttons */
    }
  
    .my-list .nav-link {
      width: auto !important; /* allow buttons to size based on text */
      text-align: start !important;
    }
  
  
}

 @media (max-width: 600px) {
    .cloths {
        justify-content: center !important;
        align-items: center !important;
      }
  
  }

  @media (max-width: 576px) {
   .footer input{
    width: 50%;
   }
    .footer .footer-menu ul {
      padding-left: 0;
      list-style: none;
    }
  }